 <!-- <h1>Name:{{name}}</h1>
<h3>date:{{date1| date:'dd/MM/yyyy'}}</h3>

<h1>Hello</h1> -->

<!-- <div class="demo">
  <label for="formGroupExampleInput" class="form-label">First Name</label>
  <input type="text" class="form-control" id="id1" required><br>

  <label for="formGroupExampleInput" class="form-label">Email Id</label>
  <input type="text" class="form-control" id="id1"  required><br>

  <label for="formGroupExampleInput" class="form-label">Mobile No</label>
  <input type="text" class="form-control" id="id1" [(ngModel)]="b"><span *ngIf="isVerified">Verified</span>
  <button (click)="onClick()" class="btn btn-primary">GetOtp</button><br>

<div *ngIf="isDisplay">
  <label for="formGroupExampleInput2" class="form-label">OTP</label>
  <input type="text" class="form-control" id="id2"  required>
</div>
  
  <button type="submit" (click)="onSubmit(1)" class="btn btn-primary">Verify</button>
</div> -->
<!-- <app-assignment></app-assignment> -->
<app-parent></app-parent>